@{
    ViewBag.Title = "";
}

<h3>@ViewBag.Message</h3>

<p>
    I am currently attending my last semester at Ohio University, graduating December 14th, 2019. I am pursuing a bachelors in
    Management Information Systems and Business Analytics. During my time here, I have been able to study international business in Bangkok, Thailand, at Mahidol Internation University. I have also had three internships, two as a student and one as a full-time employee.
    <br />
    <br />
    I have interned at the Budgeting Office and the Office of Global Opportunities here at Ohio University. Both helped me develop my analytical background. As a student employee, I was able to manage a part-time job while attending a full-time course load. My internships helped me develop my academic knowledge into the work I did at the university.
    <br />
    <br />
    During my full-time internship at FirstEnergy Corp located in Akron, Ohio I was able to work as both a business analyst and test automation
    for the test automation project from May-August of 2019. This experience gave me exposure to both a role as a business analyst and developer within a company outside of the university setting. This experience gave me the ability to work on a project with a team of FirstEnergy employees and Sogeti employees. I not only did valuable work there but developed further as a professional.
    <br />
    <br />
    Upon graduation, I hope to have a full-time job working in IT analytics.
</p>
