@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3157 Wolf Run Dr<br />
    Ravenna, OH 44266<br />
    <abbr title="Phone">Cell Phone:</abbr>
    (330) 541 - 1208
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jw537414@gmail.com">jw537414@gmail.com</a><br />
</address>