@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Jenna Weaver</h1>
    <p class="lead">| Ohio University | Management Information System | Business Analytics |</p></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Major</h2>
        <p>
            To learn more about my majors, Management Information Systems and Business Analytics, check out Ohio University's summary
            and what the program offers.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Learn more about MIS &raquo;</a></p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/business-analytics/">Learn more about business analytics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Study Abroad</h2>
        <p>
            I studied aroad spring semester of my sophmore year. While abroad I studied at Mahidol International College in Bangkok, Thialand.
            Check out their link to view more about the university I studied at!
        </p>
        <p><a class="btn btn-default" href="https://mahidol.ac.th/">Learn more about Mahidol &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Linkedin</h2>
        <p>Check out the link to my Linkedin to view more about my achedemics and internships I completed during my time as a student.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/jennaweaver10/">Learn more about Jenna &raquo;</a></p>
    </div>
</div>